*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_fw{
    width: 100%;
}
.container {
    width: #{$container};
    margin: 0 auto;
}

.column_row{
    @include flex;
}

.col-50{
    width:50%;
}

.col-33{
    width: calc(100% / 3);
}



// __________________
.text-center {
    text-align: center;
}




