*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:$mainblue;
    font-family: $font-family;
    font-size: 22px;
}
.container_fw{
    width: 100%;
}
.container {
    width: #{$container};
    margin: 0 auto;
}

.column_row{
    @include flex;
}
.col-60{
    width:60%;
}
.col-50{
    width:50%;
}
.col-40{
    width:40%;
}
.col-33{
    width: calc(100% / 3);
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

// __________________
// TYPOGRAPHY------------
@for $i from 1 through 6{
    h#{$i}{
        margin-bottom: 20px;
    }
}

h1{
  font-size: 50px;  
}
h2{
    font-size: 26px;
}
a{
    text-decoration: none;
}
.text-center {
    text-align: center;
}
button {
    &.signin_button{
        @include signin_button;
    }
}


