@mixin flex {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
};

@mixin infocard{
    text-align: center;
    padding: 20px;
    & img {
        width: auto;
        max-height: 110px;
        margin-bottom: 20px;
        filter: brightness(150%) contrast(100%)
    }
}

@mixin benefit_row{
    .main_img img{
        width: 100%;
        height: auto;
    }

    .main_text {
        & *{
            max-width: 450px;
        }
        h2 {
            margin-bottom: 30px;
       }
       .link_more{
           margin-top: 20px;
           margin-bottom: 20px;
       }
       img{
           max-height: 270px;
       }
    
    }
}
