@mixin flex {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
};
@mixin link_hover{
    color: $link_hover;
}
@mixin infocard{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    & img {
        width: auto;
        max-height: 110px;
        margin-bottom: 20px;
        filter: brightness(150%) contrast(100%)
    }
}

@mixin benefit_row{
    padding: 20px 0;
    .main_img img{
        width: 100%;
        height: auto;
    }

    .main_text {
        max-width: 450px;

        &.text_ar{
            position: relative;
            left: 100%;
            transform: translateX(-100%);

        }
        h2 {
            margin-bottom: 50px;
       }
       .link_more{

           display: block;
           text-transform: capitalize;
           color: $secondary;
           margin-top: 20px;
           margin-bottom: 20px;

           i{
               margin-left: 10px;
           }

           &:hover{
               @include link_hover;
           }
       }
       img{
           max-height: 270px;
       }
    
    }
}

@mixin signin_button{
    background: $coloredBg;
    color: $neutralBg;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    border: 1px solid $coloredBg;
    border-radius: $generalBorderRadius;
    
    img{
        width: 16px;
        height: 16px;
    }


}
