$headerMainHeight : 70px;
$headerMainWidth : 100%;

$font-family: 'Roboto', sans-serif;;
$container: 1180px;

$neutralBg: white;
$coloredBg: #0414b3;
$mainblue:#0e14ee;
$secondary: #3e14e9;
$link_hover: #7f14d4 ;