@import 'partial/variable';
@import 'partial/mixin';
@import 'partial/common';
@import 'partial/header';
@import 'partial/footer';

header {
    .container{
    border-bottom: 1px solid black;
    }
}

#hero_section {
    .container{
        @include flex;
    }
    img{
        max-width: 100%;
    }
    // background: url('../img/illustration-main.jpg');
}

#info_section {
    background-color: $coloredBg;
    color: $neutralBg
}

.card_row {
    .card{
        @include infocard;
    }
    & + div img {
        display: block;
        margin: 0 auto;
        max-height: 250px;
        filter: brightness(150%) contrast(100%)
    }
}

#benefit_section{
    background: $neutralBg;
    .benefit_row{
        @include benefit_row
    }
}

#quote{
    background-color: $coloredBg;

    #quote_cloud{
        background-color: $neutralBg;
        border: 1px solid $mainblue;
        border-radius: 10px;
        max-width: 900px;
        width: 80%;
        min-height: 200px;
        margin: 0 auto;
        padding: 15px;
        position: relative;

        i {
            position: absolute;
            top: -12px;
            left: 0;
            font-size: 30px;
            color: $mainblue;
        }
        .quote_text{
            p{
                margin-bottom: 20px;
            }
        }
        .quote_author{
            img {
                width: 40px;
            }
            .quote_author_name{
            color: $mainblue;
        };

        }
    }


}