@import 'partial/variable';
@import 'partial/mixin';
@import 'partial/common';
@import 'partial/header';
@import 'partial/footer';

header {
    .container{
    border-bottom: 1px solid black;
    }
}

#hero_section {
    .container{
        @include flex;
    }
    img{
        max-width: 100%;
    }

    .signin_row{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    // background: url('../img/illustration-main.jpg');
}

#info_section {
    background-color: $coloredBg;
    color: $neutralBg;
    
}


.card_row {
    .card{
        @include infocard;
    }
    & + div img {
        display: block;
        margin: 50px auto;
        max-height: 250px;
        filter: brightness(150%) contrast(100%)
    }
}

#benefit_section{
    background: $neutralBg;
    .benefit_row{
        @include benefit_row
    }
}

#quote{
    background-color: $coloredBg;
    color: $neutralBg;

    #quote_cloud{
        color: $mainblue;
        background-color: $neutralBg;
        border: 1px solid $mainblue;
        border-radius: $generalBorderRadius;
        max-width: 900px;
        width: 80%;
        min-height: 200px;
        margin: 030px auto;
        padding: 20px;
        position: relative;

        i {
            position: absolute;
            top: -12px;
            left: 6;
            font-size: 30px;
            color: $secondary;
        }
        .quote_text{
            p{
                margin-bottom: 20px;
            }
        }
        .quote_author{
            @include flex;
            font-size: 0.8em;

            .quote_author_img{
                margin-right: 10px;
                img {
                    width: 40px;
                }
            }

            .quote_author_name{
            color: $secondary;
        };

        }
    }

    .signin_row{
        button {
            border:1px solid $neutralBg;
        }
        a{
            color: $neutralBg;
        }
    }


}

.signin_alternative {
    font-size: 0.8em;
    margin-top: 10px;
}